body{
 background-color:#f3f3f3;
 color:#333;
 width:90%;
 font-family:poppins;
 margin:0 auto;
}

.header{
  width:90%;
  margin:center;
  height:120px;
  line-height:120px;
  background:#417AA8;
  color:#fff;
}




